header nav ul {
    list-style-type: none; /* Elimina los puntos de los items */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Asegura que los elementos no se desborden fuera del contenedor */
}

header nav ul li {
    float: left; /* Coloca los elementos del menú en horizontal */
}

header nav ul li a {
    display: block; /* Hace que los enlaces ocupen todo el espacio del elemento li */
    text-align: center; /* Centra el texto dentro de cada enlace */
    padding: 14px 16px; /* Añade algo de espacio alrededor del texto para hacerlo más clickeable */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Puedes añadir un poco de estilo al pasar el mouse */
header nav ul li a:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el mouse */
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; /* Espaciado entre secciones */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section {
    /* Estilos para tus secciones si es necesario */
}

img {
  width: 500px;
  height: 500px;
}
