/* Asegura que el texto no se salga de la pantalla y mejora la visibilidad en dispositivos móviles */
body {
    margin: 0;
    padding: 0;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    line-height: 1.6; /* Aumenta el espaciado entre líneas */
    letter-spacing: 0.05em; /* Añade espaciado entre caracteres */
    font-family: Arial, sans-serif; /* Establece Arial como la fuente */
	text-align: justify; /* Justifica el texto */
	margin-right: 20px; /* Añade un margen derecho*/
	margin-left: 20px; /* Añade un margen izquierdo*/
}


/* Hace que las imágenes sean responsivas */
img {
    max-width: 100%; /* Permite que la imagen se escale según el ancho del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes al escalar */
}

/* Estilos para la navegación */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #ddd;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 768px) {
    header nav ul li {
        float: none;
        width: 100%;
    }

    .contenedor {
        grid-template-columns: 1fr;
    }

	body {
	        font-size: 16px; /* Ajusta el tamaño de la fuente para dispositivos más pequeños */
	    }
}

@media screen and (max-width: 480px) {
    /* Ajustes adicionales para dispositivos muy pequeños */
    header nav ul li a {
        padding: 10px 12px; /* Reduce el padding en los enlaces para ahorrar espacio */
    }

	body {
	        font-size: 14px; /* Ajusta el tamaño de la fuente para dispositivos muy pequeños */
	    }
}